<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicioONG</title>

    <!--Importacion css-->
    <link type="text/css" rel="stylesheet" href="../css/DoggStyle.css">

    <!--Boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Importacion Fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,600;1,400;1,800&display=swap"
        rel="stylesheet">
</head>
</head>
<header>
    <!------------------------------------------[BarraNav]------------------------------------------------>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg marginTop fixed-top  navbar-dark navsty fonty">
            <!--Titulo en Barra_Nav-->
            <a href="../ong/inicio_ong.html" class="navbar-brand text-white">
                <img src="../img/img_inicio/LOGOFINAL2.png" height=50px alt="Just no...">
                OngExample
            </a>
            <!--Boton de menu para dispositivos celulares o tablet-->
            <button class="navbar-toggler" data-target="#menu" data-toggle="collapse">
                <span class="navbar-toggler-icon">
                </span>
            </button>

            <!--Menu de navegacion-->
            <div class="collapse navbar-collapse" id="menu" type="button">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-item active">
                        <a href="../ong/inicio_ong.html" class="nav-link">Inicio</a>
                    </li>
                    <li class="navbar-item active">
                        <a href="../perro_inicio/perro_inicio.html" class="nav-link">Perro</a>
                    </li>
                    <li class="navbar-item active">
                        <a href="../gato_inicio/gato_inicio.html" class="nav-link">Gato</a>
                    </li>
                    <li class="navbar-item active">
                        <a href="../quienes_somos/quienes_somos.html" class="nav-link">Nosotros</a>
                    </li>
                </ul>
                <span class="navbar-link text-white">
                    @TheMalvekes
                </span>
            </div>
        </nav>
    </div>
    <!----------------------------------------------------------------------------------------------->
</header>


<body>
    <!--Imagen de la Mascota-->
    <section>
        <div>
            <div  class=" text-center fonty">
                <h1>Este es: Thor</h1>
                <img class="imgP" src="../img/img_perro/img_perro_1.jpg" alt="Sin imagen">
            </div>
        </div>
    </section>



    <!-- Burbuja -->
    <section class="container-fluid fonty">
        <article class="burbuja">
            <div class="row">
                <p class="parrafo">
                    Si estás buscando un compañero fiel y amoroso, Thor es el perro perfecto para ti. Con su pelaje
                    blanco y negro, su mirada dulce y expresiva, Thor es un perro hermoso que definitivamente te
                    interesará al instante.
                    Thor es un perro muy inteligente y le encanta aprender cosas nuevas. Es un excelente compañero para
                    hacer ejercicio, ya que le gusta correr y jugar al aire libre. Además, es muy amigable con los niños
                    y otros animales, lo que lo hace perfecto para una familia con mascotas. <br>
                    Si estás interesado en adoptar a Thor, contáctanos para más información sobre cómo puedes hacerlo.
                    Te aseguramos que te enamorarás de él tan pronto como lo veas y que te convertirás en su mejor amigo
                    y confidente para siempre. ¡No te pierdas la oportunidad de tener a este perro maravilloso en tu
                    vida!
                </p>
            </div>

        </article>

    </section>
    <!--BoosTrapJs-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
<!--Footer-->
<footer>
    <div class="infoSg">
        <img src="../img/img_inicio/LOGOFINAL2.png" style="width: 250px; margin-right: 20px ;" alt="Sin imagen">
        <div class="fonty">
            <h3>Contactanos</h3>
            <p>Telefono:+569311677854</p>
            <p>Correo: ongayudaaundog@gmail.com</p>
            <p>Direccion: Calle Nueva #87 STGO CENTRO</p>
        </div>
    </div>
</footer>

</html>